.chatList{
    padding: 20px 4px 4px 4px;
    box-sizing: border-box;
    background-color: #b2dfee;
    border-radius: 10px;

}
.title{
    text-align: center;
    color: black;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.listItem{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    /*background-color: darkgray;*/
    height: 50px;
    border-radius: 10px;
    color: white;
}
