body {
  margin: 0;

}
.app {
  margin: 0;
  padding-left: 0;
  padding-bottom: 0;
  min-height: 440px;
  height: 100%;
}
.message {
  background-color: yellow;
  /*margin: 0;*/
  /*height: 20px;*/
}
.buttonMessage{
  margin: 5px;
}

